@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

.welcome-page {
  background-image: url(https://img.freepik.com/free-photo/top-view-pink-feminine-elements-with-8-march-lettering_23-2148418737.jpg?w=740&t=st=1696908790~exp=1696909390~hmac=fa29ffa1ffbadd3c21a7c002913594142c9f9a99c3979166380337253058740b);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Raleway Dots", sans-serif;
  padding-bottom: 100%;
  position: relative;
  text-align: center;
  font-weight: 900;
  color: black;
}

.title {
  font-size: 30pt;
  margin-top: 160px;
}

.welcome {
  font-size: 20pt;
  padding: 16px;
  text-align: center;
}

.welcome-text {
  font-size: 16pt;
  display: flex;
  flex-wrap: wrap;
}

p {
  text-align: center;
}

.welcome-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 80vh;
  background: rgb(255, 217, 223);
  font-family: "Raleway Dots", sans-serif;
}

.get-started-btn {
  width: 80%;
  margin-bottom: 50px;
}

button {
  background: pink;
  padding: 16px;
  width: 100%;
  font-family: "Raleway Dots", sans-serif;
  border: none;
  border-radius: 8px;
  padding: 16px;
}

button:hover {
  background: oldlace;
}
